
.parallax {
	/* The image used */


    /* Full height */
	height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
	background-image: url("../images/1.jpg");
	/* background-color: #000; */
}

.parallax2 {
	background-image: url("../images/2.jpg");
	/* background-color: #d9ffca; */
}

.parallax3 {
	background-image: url("../images/3.jpg");
	/* background-color: #ffe0b7; */
}

.parallax4 {
	background-image: url("../images/4.jpg");
	/* background-color: #d9ffca; */
}

.box {
	width: 100%;
	height: 100%;

	padding: 3rem 1.5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	background-color: rgba(0, 0, 0, .6)
}

